.Content
	h1 IOyou
	p The most difficult part of a night out with friends is splitting the bill. 
	| And when debts among your friends accumulate, figuring out who owes whom can be a hassle.
	| IOyou allows you to consolidate your debts and minimize your transactions among a network of friends.
	| Every inputted transaction is added to a consolidated 
	a(href = "/paymentWeb") Web of Payments 
	| allowing you to visualize your debts and figure out who to pay.
	h2 Logged (unconsolidated) transactions:
	hr
	div(ng-controller="DataCtrl")
		table.table.table-striped
			thead
				tr
					th Giver
					th Receiver
					th Amount
					th Reason
			tbody
				tr(ng-repeat="transaction in data") 
					td{{transaction.payer}} 
					td{{transaction.payee}}
					td${{transaction.amount}}
					td{{transaction.reason}}
		script
			var data = !{JSON.stringify(data)}
