#Content
	h1 IOyou
	p The most difficult part of a night out with friends is splitting the bill. 
	| And when debts among your friends accumulate, figuring out who owes whom can be a hassle.
	| IOyou allows you to consolidate your debts and minimize your transactions among a network of friends.
	h2 Logged transactions:
	hr
	div(ng-controller="DataCtrl")
		ul
            li(ng-repeat="transaction in data") {{transaction.payer}} owes {{transaction.payee}} ${{transaction.amount}} {for} {{transaction.reason}}
        script
            var data = !{JSON.stringify(data)}
