script(src='../../js/raphael-min.js')
script(src='../../js/dracula_graffle.js')
script(src='../../js/dracula_graph.js')
script(src='../../js/dracula_algorithms.js')
script(src='../../js/graph.js')
    
#Content
	h1 Payment Web
	p Web image here
    #canvas(ng-controler="DataCtrl")
