.Content
    h1 Input a new transaction:
    hr
    form.form-inline(data-ng-controller="TransCtrl", ng-submit="newTransaction()", name="transactionForm", role="form")
        .form-group
            input.form-control(type="text", data-ng-model="payer", placeholder="name", name="payer", required, autofocus)
            select.form-control(data-ng-model="owed_paid", name = "owed_paid", required, autofocus)
                option(value="owes", selected="selected") owes
                option(value="paid") paid
            input.form-control(type="text", data-ng-model="payee", placeholder="name", name="payee", required, autofocus)
            input.form-control(type="text", data-ng-model="amount", placeholder="$0.00", name="amount", required, autofocus)
            br
            br
        .form-group
            textarea.form-control(type="text", cols = "54", data-ng-model="reason", placeholder="reason", name="reason", required, autofocus)
            br
            br
        .form-group
            .col-sm-offset-2.col-sm-10
                button.btn.btn-default(type="submit", data-ng-disabled="transcationForm.$invalid") New Transaction
