#Content
    h1 Transaction Log
    hr
    div(ng-controller="DataCtrl")
        ul
            li Test
            li(ng-repeat="transaction in data") {{transaction.payee} owes {transaction.payer}}
        script
            var data = !{JSON.stringify(data)}
