#Content
    h2 Input a new transaction:
    hr
    form.form-horizontal(data-ng-controller="TransCtrl", ng-submit="newTransaction()", name="transactionForm", role="form")
        .form-group
            .col-sm-4
                input.form-control(type="text", data-ng-model="payer", placeholder="name", name="payer", required, autofocus)
            label.control-label.col-sm-1 owes
            .col-sm-4
                 input.form-control(type="text", data-ng-model="payee", placeholder="name", name="payee", required, autofocus)
            .col-sm-4
                .input-prepend
                        span.add-on $
                        input.form-control(type="text", data-ng-model="amount", placeholder="0.00", name="amount", required, autofocus)
        .form-group
            .col-sm-12
                textarea.form-control(type="text", data-ng-model="reason", placeholder="reason", name="reason", required, autofocus)

        .form-group
            .col-sm-offset-2.col-sm-10
                button.btn.btn-default(type="submit", data-ng-disabled="transcationForm.$invalid") New Transaction

